
header{
    background-image: url(../img/japan.jpg); 
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 500px;
    background: rgb(231, 181, 196);
    position: relative;
    transform: skewY(7deg);
    transform-origin: top right;
        font-size: xx-large;
        
      
    }
    body{ 
        background-color:lightblue;
        color: aliceblue;
        font-family: 'Sriracha', cursive;
        font-size: x-large;
        text-align: center;
        
    }
    h1 {
        transform: skewY(-7deg);
    }
    header:hover {
        height: 500px;
        transition-duration: 1s;
      }
    img {
        height:400px;
        width:700px;
    }